[user]
	email = silverscat_3@mail.sc3.fun
	name = 銀猫さん (silverscat_3)
	signingkey = BAC452A4B60469A5 
[gpg]
	program = /usr/bin/gpg
[commit]
	gpgsign = true

[url "github:"]
    pushInsteadOf = https://github.com/
    pushInsteadOf = git@github.com:

[url "gitlab:"]
    pushInsteadOf = https://gitlab.com/
    pushInsteadOf = git@gitlab.com:

